/**
 * The stylesheet for admin dashboard
 */

/*--------------------------------------------------------------
# Bootsrap ISO
--------------------------------------------------------------*/
.bootstrap-iso { position: relative; }

/*--------------------------------------------------------------
# Flash Message
--------------------------------------------------------------*/
.gmb-flash-msg { display: none; padding: 0 !important; position: absolute !important; top: -50px; }